table {
    color: blue;
}

td {
    padding: 0px;
}

button.tile {
    min-width: 40px;
    width: 40px;
    height: 42px;
    background-color: #555555;
    color: black;
    cursor: pointer;
    font-size: 0px;
}

button.tile.flagged {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

button.tile.revealed {
    background-color: #cccccc;
    font-size: initial;
}